// variabili colori

// COLOR CUBE

$colorWhite:#fff;
$colorGreenKelp:#1e3020;
$colorNaturalGray:#978f88;
$colorPottersClay:#855136;
$colorSaffron:#f4c933;
$colorMing:#35697c;
$colorMandysPink:#efbeb0;
$colorMonringGlory:#8bd3df;
$colorAmaranth:#e52b51;
$colorApple:#59b742;



//  MEDIAN CUT
$colorHeavyMetal:#2a382a;
$colorWestar:#dcd5d0;
$colorCapePalliser:#a66044;
$colorBayLeaf:#77ab82;
$colorSlateGray:#79849a;



// Material Design
$colorSepiaSkin:#a46042;
$colorBandicoot:#7c7c72;
$colorSepia:#6e3b15;
$colorTaupe:#463a32;
$colorDawnPink:#Faf4f4;



